/* left side paddle */
.wraper-left{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 2;
    align-items: center;

}

.left-side{
    width: 20px;
    height: 80px;
    background-color: whitesmoke;
    transition: top .3s ease-out;
}



