
.left-side{
    width: 20px;
    height: 80px;
    background-color: whitesmoke;
    transition: top .3s ease-out;
}

.right-side{
    width: 20px;
    height: 80px;
    background-color: whitesmoke;
    transition: top .3s ease-out;
    position: absolute;
    right: 375px;
}



