*{
    background-color: black;
    color: whitesmoke;
}



header{
    display: flex;
    justify-content: space-evenly
}
/* main pages */


#pageOneMain{
    justify-content: center;
    display: flex;
    gap: 10rem;
    margin-top: 25%;
}
/* background */
#mainPlayerOne{
    width: 1300px;
    height:600px;
    box-shadow: rgba(224, 224, 241, 0.2) 0px 7px 29px 0px;
    display: grid;
    grid-template-columns: 1fr .2fr 1fr .2fr 1fr;
    margin: 81px 10px 4px 238px;
}

/* ========ball======== */

.ball{
    width: 30px;
    height: 30px;
    background-color: whitesmoke;
    border-radius: 0px;
    border-radius: 50%;
    position: absolute;
    top: 399px;
    left: 700px;
    transition: top 4s ease;
}



.winner{
    position: absolute;
    top: 300px;
    left:700px;
    background-color: azure;
    color:black;
    padding: 100px 100px  100px  100px ;
}


/* left side paddle */


footer{

    margin-top: 5%;
    text-align: center;
    

}

/* instrunctions */

p{
    text-align: center;
}

.white{
    padding: 5px 5px 5px 5px ;
    background-color: aqua;
    color: black;
    text-align: center;
}